<div class="wrapper">
  <!-- Main Header -->
  <app-dashboard-header></app-dashboard-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-dashboard-left-side></app-dashboard-left-side>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-dashboard-footer></app-dashboard-footer>
  <!-- Control Sidebar -->
  <app-dashboard-control-sidebar></app-dashboard-control-sidebar>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
